.button {
  outline: none;
  border: none;
  font-size: 1.4em;
  padding: 2px;
}

.button:active {
  background-color: #a9a9a9;
}

.button.double {
  grid-column: span 2;
}

.button.triple {
  grid-column: span 3;
}
.button.operator {
  background-color: #1da1f2;
  color: white;
}
.button.operator:active {
  background-color: #2094da;
}
