.calculator {
  height: 320px;
  width: 235px;
  border-radius: 5px;
  text-align: center;
  color: white;

  display: grid;
  overflow: hidden;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: 1fr, 5(48px);
}
.operators {
  background-color: #1da1f2;
}
